<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mir_250" >

  <!-- MiR250 base -->
  <xacro:include filename="$(find navigation_stack)/urdf/include/mir_250.urdf.xacro" />

  <xacro:arg name="tf_prefix" default="" />

  <!-- prefix can not start with a slash like a global namespace! results in TF errors -->
  <xacro:property name="ns" value="$(arg tf_prefix)" />
  <xacro:if value="${ns == ''}">
    <xacro:property name="prefix" value="" />
  </xacro:if>
  <xacro:unless value="${ns == ''}">
    <xacro:property name="prefix" value="${ns}/" />
  </xacro:unless>

  <xacro:mir_250 prefix="${prefix}" ns="${ns}"/>
</robot>
