<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find navigation_stack)/urdf/include/common_properties.urdf.xacro" />

  <xacro:property name="laser_x" value="0.156" />
  <xacro:property name="laser_y" value="0.155" />
  <xacro:property name="laser_z" value="0.185" />
  <xacro:property name="laser_mass" value="2.0" />

  <xacro:macro name="sick_s300" params="link topic prefix">
    <link name="scan_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${pi} 0 0" />
        <geometry>
          <mesh filename="file://$(find navigation_stack)/meshes/visual/lidar.dae" />
        </geometry>
        <!-- <xacro:insert_block name="material_yellow" /> -->
        <xacro:insert_block name="material_black" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="${pi} 0 0" />
        <geometry>
          <mesh filename="file://$(find navigation_stack)/meshes/visual/lidar.dae" />
        </geometry>
      </collision>
      <xacro:box_inertial x="${laser_x}" y="${laser_y}" z="${laser_z}" mass="${laser_mass}">
        <origin xyz="0 0 0" />
      </xacro:box_inertial>
    </link>

    <gazebo reference="scan_link">
      <sensor name="gpu_lidar" type="gpu_lidar">
        <update_rate>10</update_rate>
        <topic>scan</topic>
        <gz_frame_id>scan_link</gz_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>720</samples>
              <!--(max_angle-min_angle)/samples * resolution -->
              <resolution>1</resolution>
              <min_angle>-3.14156</min_angle>
              <max_angle>3.14156</max_angle>
            </horizontal>
            <!-- Dirty hack for fake lidar detections with ogre 1 rendering in VM -->
            <!-- <vertical>
                <samples>3</samples>
                <min_angle>-0.001</min_angle>
                <max_angle>0.001</max_angle>
            </vertical> -->
          </scan>
          <range>
            <min>0.05</min>
            <max>10.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.01</stddev>
          </noise>
          <frame_id>scan_link</frame_id>
        </lidar>
        <always_on>1</always_on>
        <visualize>true</visualize>
      </sensor>
    </gazebo>


<!-- 
    <gazebo reference="${prefix}${link}">
      <material value="Gazebo/FlatBlack" />
      <sensor type="ray" name="${prefix}${link}">
        <visualize>false</visualize>
        <update_rate>12.5</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>541</samples>
              <resolution>1</resolution>
              <min_angle>-2.09438</min_angle>
              <max_angle>2.09438</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.05</min>
            <max>29.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_${link}_controller" filename="libgazebo_ros_ray_sensor.so">    
          <ros>
            <remapping>~/out:=${prefix}${topic}</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>${prefix}${link}</frame_name>
        </plugin>
      </sensor>
    </gazebo> -->
  </xacro:macro>
</robot>
